# Carpetas de configuración de Visual Studio
.vs/

# Carpetas de compilación
x64/
x86/
Debug/
Release/

# Archivos compilados y de depuración
*.exe
*.pdb
*.ilk
*.obj
*.lib

# Archivo comprimido del juego
Juego de Ritmo.zip